// Colors. Color names from: http://chir.ag/projects/name-that-color
$black: #000;
$white: #fff;

// Fonts.
$font-face: Helvetica, sans-serif;
$base-line-height: 1.5;

// Breakpoints and sizing.
$screen-tiny-max: 320px;
$screen-xs-max: 767px;
$screen-md-min: 768px;
$screen-md-max: 1024px;
$screen-lg-min: 1230px;
$screen-lg-max: 1366px;
